

footer {
    width: 100%;
    height: 80px;
    background: pink;
    position: absolute;
    top: 1400px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
    z-index:;

}

/* img#background{
  width: 100%;
} */

footer#footer{
  z-index: -1;
}

img#one{
  length: 350px;
  width: 350px;
  top:200px;
  left: 475px;
  display: inline-block;
  position: absolute;

}

img#two{
  length: 350px;
  width: 350px;
  top:200px;
  right: 475px;
  display: inline-block;
  position: absolute;

}

img#three{
  length: 350px;
  width: 350px;
  top:1000px;
  right: 475px;
  display: inline-block;
  position: absolute;

}

img#four{
  length: 350px;
  width: 350px;
  top:1000px;
  left: 475px;
  display: inline-block;
  position: absolute;

}

a#logo{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
